/* 
Toggle style 
*/

.navbar{
  position: relative;
}
.toggle {
  position: relative;
  height: 35px;
  width: 35px;
  box-shadow: 0 0px 5px rgb(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 10px 0 0 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background-color: var(--white);
}

.toggle span {
  position: absolute;
  height: 2.5px;
  width: 20px;
  background-color: var(--text-color-rose);
  border-radius: 15px;
  transition: 0.85s;
}

.toggle span:nth-child(1) {
  width: 10px;
  transform: translateY(-7px);
  left: 7.5px;
}
.toggle.active span:nth-child(1) {
  width: 20px;
  transform: translateY(0px) rotate(45deg);
  transition-delay: 0.125s;
}
.toggle span:nth-child(2) {
  width: 15px;
  transform: translateY(7px);
  left: 7.5px;
}

.toggle.active span:nth-child(2) {
  width: 20px;
  transform: translateY(0px) rotate(315deg);
  transition-delay: 0.25s;
}

.toggle.active span:nth-child(3) {
  transform: translateX(50px);
}

/* cart */

.cart {
  height: 35px;
  width: 35px;
  box-shadow: 0 0px 5px rgb(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  color: var(--text-color-rose);
  stroke: 20px;
  font-size: var(--fs-1);
  position: absolute;
  top: 0;
  right: 10px;
  -webkit-text-stroke: .5px;
}
.cart .count{
  position: relative;
}

.count span{
  position: absolute;
  top: -5px;
  right: 3px;
  display: inline-block;
  height: 15px;
  width: 15px;
  background-color: var(--text-color-rose);
  border-radius: 50%;
  color: #000000;
  font-size: 11px;
  text-align: center;
  font-weight: 600;
}

/* 
Nav style
*/

.nav-container {
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  background-color: var(--bg-shade-orange);
  padding-top: 70px;
  text-align: center;
  transition: 0.5s ease-in-out;
  z-index: 4;
}

.nav-container.active {
  left: 0;
}

ul.nav-container li {
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  height: 50px;
}

/* for electronics element style */
.nav1 .active {
  color: var(--text-color-rose);
}


@media (min-width: 760px) {
 .toggle{
  display: none;
 }
 .nav-container{
  min-height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: static;
  padding-top: 0px;
  background-color: transparent;
  padding-top:10px ;
 }
 .cart{
  top: 50px;
 }
 ul.nav-container li a:hover{
  color: var(--text-color-rose) !important;
}

}
